<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-type" content="text/html">
    <title>Activation email</title>
    <style type="text/css">
        /* Base */
        body {
            margin: 0;
            padding: 0;
            min-width: 100%;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 16px;
            line-height: 1.5;
            background-color: #FAFAFA;
            color: #222222;
        }

        a {
            color: #136f26;
            text-decoration: none;
        }

        h1 {
            font-size: 24px;
            font-weight: 700;
            line-height: 1.25;
            margin-top: 0;
            margin-bottom: 15px;
            text-align: center;
        }

        p {
            margin-top: 0;
            margin-bottom: 24px;
        }

        table td {
            vertical-align: top;
        }

        .email-wrapper {
            max-width: 600px;
            margin: 0 auto;
        }

        .email-header {
            background-color: #0070f3;
            padding: 24px;
            color: white;
        }

        .email-body {
            padding: 24px;
            background-color: #fff;
        }

        .email-footer {
            background-color: #f6f6f6;
            padding: 24px;
        }

        .button {
            display: inline-block;
            background-color: #0070f3;
            color: #fff;
            font-size: 16px;
            font-weight: 700;
            text-align: center;
            text-decoration: none;
            padding: 12px 24px;
            border-radius: 4px;
        }
        .center {
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="email-wrapper">
        <div class="email-header">
            <h1>ICN CASHING</h1>
        </div>
        <div class="email-body">
            <h1>Hello <%= user.name %>,</h1>
            <p>We are excited to inform you that your account has been successfully created.</p>
            <p class="">
                <%= text %> . <br>You can click here to <a href="<%= domain %>">Link</a>
            </p>
            <p>If you have any questions or need assistance, feel free to reach out to us.</p>
            <p>Thank you and welcome to our community!</p>
            <p>Best regards,<br>Digital application Team</p>
        </div>
        <div class="email-footer">
           <p>If you have any questions , feel free to contact us at <a href="mailto:<%= supportmail %>"><%= supportmail %></a></p>
        </div>
    </div>
</body>

</html>